<%- include('includes/layouts/start.ejs') %>

<div class="center-align">
  <i class="large material-icons">home</i>
  <h4 style="margin-top: 1rem;">Homepage</h4>
</div>

<%- include('includes/layouts/end.ejs') %>
