<%- include('../includes/layouts/start.ejs') %>

<section class="center-align">
  <h4 style="margin-top: 1rem;"><%= user.email %></h4>
  <h5 style="margin-top: 1rem;"><%= user.role %></h5>
</section>

<%- include('../includes/layouts/end.ejs') %>
